body{
background-color: #999;
color: #444;
padding: 2em;}

.alert{
background-color: #99F2B2;
color: #121314;
padding: 2em;
margin-top: 4em;
font-style: italic;
font-weight: bold;}

img {
width: 150px;
float: left;
}

.card {
width: 800px;
}

.desc {
font-size: 0.9em;
margin: 0 25px;
color: #555;
}