{% extends 'glowny.html' %}
{% block title %} Dodaj film {% endblock %}
{% load bootstrap %}


{% block body %}

<div class="col-sm-6">
    <div class="card " >
          <div class="card-header">
            Zapisz film
          </div>

            <div class="card-body">
               <form role="form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="submit" class="btn btn-outline-primary">Dodaj <i class="fas fa-crow"></i> </button>
                            <a class="btn btn-light" href="{% url 'wszystkie_filmy' %}">Powrót do listy filmów <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
               </form>
          </div>
    </div>
</div>
{% endblock %}
