{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista filmów</title>
    <link rel="stylesheet" href="{% static 'moj.css' %}">
</head>
<body>
{% if user.is_authenticated %}      <!-- if sprawdza czy user jest zalogowany i wyświetla odpowiednie -->
    <p>Witam {{ user.username }}</p>
    <a href="{% url 'logout' %}">Wyloguj</a>
{% else %}
    <a href="{% url 'login' %}">Zaloguj</a>
{% endif %}

<h1>Lista filmów</h1>
<a href="{% url 'nowy_film' %}">Dodaj nowy film</a>

<p>Wszystkie filmy</p>

    {% for film in filmowa %}
    <div>
        <h2>{{ film }}</h2>
        <a href="{% url 'edytuj_film' film.id %}">Edytuj film</a>
        <a href="{% url 'usun_film' film.id %}">Usuń film</a>
    </div>
    {% endfor %}

<p class="alert"> {{ text44 }} </p>

</body>
</html>